@import "color.styl";

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: "Open Sans"; 
}

ul[class],
ol[class] {
  list-style: none;
}

a{
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.content{
    max-width: 1250px;
    padding: 0 100px;
    margin: 0 auto;
}

.header{
    margin: 0 auto;
    padding: 0 50px;
    border-bottom: 1px solid #e7e7e7;
    max-width: 1150px;
}

.header-container{
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position relative;
}

.header-nav, .header-right{
    flex: 1 1 0;
    display: flex; 
}

.header-nav__list{
    display: flex;
    align-items: center; 
}
.header-nav__link, .header-right__item{
    font-size: 17px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.412;
    text-decoration: none;
    fill: #d3d2d2;

    &:hover{
        color: rgba(0, 0, 0, 0.6);
        fill:$aHover;
    }

    &:active{
        color: rgba(0, 0, 0, 0.302);
        fill:$aActive;
    }

    .header-right__svg{
        margin-right: 31px;     
    }
}

.header-right{
    flex-direction: row-reverse;
}

.header-nav__item+.header-nav__item, {
    border-left: 1px solid  #ececec;
    padding-left: 35px;
    margin-left: 35px;
}

.header-right__item:nth-child(even){
    border-right: 1px solid  #ececec;
    border-left: 1px solid  #ececec;
}

.header-nav__item{
    display: flex;
    height: 86px;
    align-items: center;
}

.header-right__item{
    padding-left: 35px;
    display: flex;
    height: 86px;
    align-items: center;
}


.header-right__cart{
    margin-right: 32px;
}

.header__burger{
    display: none;
}

.header-logo{
    margin-right: 10px;
    margin-left: 10px;
}

.about{
    background-color: #f9f9f9;
    padding-top: 27px;
    background-image: url(img/hero-desktop.png);
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    height: 760px;
    display: flex;
    flex-direction: column;
}

.about-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.about-header__left-item{
    display: inline-block;
    margin-right: 61px;
}

.about-header__left-link, .about-header__right-link{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.6;

    &:hover{
        color: rgba(0, 0, 0, 0.6);
    }
    &:active{
        color: rgba(0, 0, 0, 0.302);
    }
}

.about__title{
    font-size: 51.725px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.075;
    text-align: center;
    max-width:717px;
    margin: 0 auto;
}

.about-header__left-change{
    display: none;
}

.about__product{
    display: flex;
    margin-top: auto; 
    margin-bottom: -15px;
}

.about::after{
    content: "";
    height: 34px;
    background-image: url(img/wave.png);
    margin: 0 -100px;
}

.product__left-link, .product__right-link{
    flex: 1 1 50%;
    height: 119px;
    padding: 30px 36px 27px 36px;
    display: flex;
    justify-content: space-between;
}
.product__left-link{
    background-color: #63d1bb;
}

.product__right-link{
    background-color: #56c3b2;
}

.product__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .product__img{
        flex: 0 0 60px;
        display: flex;
        justify-content: center;
        }
  
}

.product__name{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5;
    max-width: 110px; 
}  

.header-text{
    font-size: 53px;
    font-weight: bold;
    line-height: 1.075;
}

.main-content{
    margin-left: 175px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-week{
    position: relative;
    margin-top: 54px;
    margin-bottom: 73px;

    .main-content{
        height: 636px;
    }
}

.product-week__header{
    margin-top: 61px; 
    display: flex;
    align-items: center;
    margin-bottom: 31px;
    margin-left: -175px;
}

.product-week__name-block{
    font-size: 17px;
    color: rgb(99, 209, 187);
    font-weight: bold;
    line-height: 1;
    text-align: center;
    flex-basis: 175px;
    padding: 0 30px;
}

.content_title{
    font-size: 53px;
    font-weight: bold;
    line-height: 1.075;
}

.product-week__photo{
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
}

.product-week__text-block{
    max-width: 292px;
}

.product-week__description{
    font-size: 17px;
    color: rgb(68, 68, 68);
    line-height: 1.765;
}

.product-week__specifications{
    margin-top: 68px;
    font-size: 15px;
    color: rgb(68, 68, 68);
    line-height: 1.333;
    width: 100%;
    border-collapse: collapse;
    
    tr {
        border-bottom: 2px solid #ececec;
        height:40px;
    }
}

.product-week__order-block{
    max-width: 292px;
    margin-top: auto;
}

.product-week__price{
    font-size: 20px;
    color: rgb(68, 68, 68);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 34px;
}

.content_main-button{
    font-size: 17px;
    color: rgb(68, 68, 68);
    font-weight: bold;
    line-height: 1.176;
    text-align: center;
    border: 2px solid #444444;
    background-color: #ffffff;

    &:hover{
        color: rgb(255, 255, 255);
        border: none;
        background-color: $aLink;
    }

    &:active{
        color: rgba(255, 255, 255, 0.302);
    }
}

.product-week__order-btn{
    .content_main-button{
        width: 100%;
        height: 52px;
    }
}


.advantages{
    margin-top: 68px;
    margin-bottom: 90px;

    .main-content{
        max-width: 700px;
    }
}

.advantages__title{
    margin-bottom: 22px;
}

.advantages__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages-item__img-container{
    width: 55px;
    display: flex;
    justify-content: center;
}

.advantages-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 350px;
    min-height: 100px;
    margin-bottom: 50px;
 
    .advantages-item__text{
        font-size: 20px;
        font-weight: bold;
        line-height: 1.1;
    }
}

.reviews{
    padding-top: 71px;
    background-image: url(img/review.png);
    background-position-x: 100px; 
    background-repeat: no-repeat;
    min-height: 457px;
    position: relative;

    .reviews__title{
        margin-bottom: 53px;
    }

    .reviews__text{
        font-size: 17px;
        color: rgb(68, 68, 68);
        line-height: 1.765;
        max-width: 772px;
        margin-bottom: 45px;
    }

    .reviews__author-name{
        font-size: 17px;  color: rgb(0, 0, 0);
        font-weight: bold;
        line-height: 1.412;
    }

    .reviews__author-email{
        margin-top: 12px;
        font-size: 17px;
        color: #444444;
    }

    .reviews__write-btn{
        position: absolute;
        top: 0;
        right: 0;
    }

    .content_main-button{
        padding: 20px 42px;
    }

    .reviews__swipe-btn{
        position: absolute;
        right: 0;
        bottom: 0;
        width: 175px;
        display: flex;
        justify-content: space-around

        button{
            background-color: #ffffff;
            border: none;
            padding: 0;
            margin:0;
            font-size: 50px;
        }
    }
}

.contacts{
    margin-top: 71px;
    margin-bottom: 105px;

    .main-content{
        min-height: 457px;
        padding-top: 79px;
    }

    .contacts__header{
        display: flex;
        margin-left: -175px;
        margin-bottom: 41px;
        align-items: center;
    }

    .contacts__icon{
        min-width: 175px;
        display: flex;
        justify-content: center;
    }

    .contacts__text{
        max-width: 277px;
        font-size: 17px;
        color: rgb(68, 68, 68);
        line-height: 1.765;

        td{
            min-width: 78px;
            vertical-align: top;

            a:link{
                color: black;
                text-decoration: underline $aHover;
            }

            a:hover{
                color: $aHover;
            }

            a:active{
                color: $aActive;
                text-decoration: underline $aActive;
            }
        }
    }

    .contacts__map{
        position: absolute;
        top: 0;
        right: 0;
    }

    .contacts__btn{
        margin-top: auto;
    }

    .content_main-button{
        padding: 20px 42px;
    }
}

.footer{
    background-color: #f1f1f1;

    .footer__wrapper{
        min-height: 143px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__logo, .footer__copyright{
        flex: 1 1 0;
    }

    .social-network__list{
        display: flex;
        align-items: center;
    }

    .social-network__item + .social-network__item{
        margin-left: 40px;
    }

    .footer__copyright{
        display: flex;
        justify-content: end;
        align-items: center;

        span{
            font-size: 19px;
            font-weight: bold;
            line-height: 0.947;
            margin-right: 29px;
        }
    }
}
























































@media  (max-width: 1250px){
    .header{
        margin: 0 0;
        padding: 0 50px;
        width: 100%;
    }

    .content{
        padding-left:50px;
        padding-right:50px;
    }

    .header-logo{  
        margin: 0 10px 0 0;    
    } 

    .header-nav{  
        display: none;
    }

    .about-header__left-list{
        display: none;
    }

    .about-header__left-item {
        margin-right: 31px;
    }

    .about-header__left-change{
        display: block;
    }   

    .header-text{
        font-size: 43px;
        line-height: 1.163;
    }

    .product-week{
        .main-content{
            margin-left: auto;
            margin-right: auto;
            max-width: 668px;
            height: 507px;
        }
    }

    .product-week{
        margin-top: 41px;
    }

    .product-week__header{
        justify-content: space-between;
        margin: 0 0 50px 0;
        flex-direction: row-reverse;
    }

    .product-week__name-block{
        font-size: 17px;
    }

    .content_title{
        font-size: 43px;
        line-height: 1.163;
    }

    .product-week__photo{
        right: 0px;
        bottom: 0;
        top: auto;
    }

    .product-week__specifications{
        margin-top: 45px;  
        
        tr {
            border-bottom: 1px solid #ececec;
        }
    }

    .advantages{
        margin-bottom: 80px;  
          
        .main-content{
            margin-left: auto;
            margin-right: auto;
            max-width: 668px;
        }
    }
    .advantages__title{
        margin-bottom: 16px;
    }   

    .advantages-item{
        flex: 1 1 334px;
    }

    .reviews{
        padding-top: 85px;
        background-position-x: 0px; 
        position: relative;

        .reviews__title{
            margin-bottom: 53px;
        }

        .content_main-button{
            padding: 20px 40px;
        }

        .main-content{
            margin-left: auto;
            margin-right: auto;
            max-width: 668px;
        }
    }
    
    .contacts{
        margin-top: 69px;
        margin-bottom: 57px;

        .main-content{
            min-height: auto;
            padding-top: 0px;
            margin-left: auto;
            margin-right: auto;
            max-width: 668px;
        }

        .contacts__header{
            display: flex;
            flex-direction: row-reverse
            justify-content: space-between;
            margin-left: 0px;
            margin-bottom: 35px;
        }

        .contacts__icon{
            min-width: auto;
        }

        .contacts__text{
            max-width: 100%;
            margin-bottom: 60px;

            tr {
                display: inline-block;
                width: 50%;
                vertical-align: top;
            }
        }

        .contacts__map{
            position: static;
            margin-bottom: 55px;
            margin-left: -50px;
            margin-right: -50px;
        }

        .contacts__btn{
            margin: 0 auto;
        }

        .content_main-button{
            padding: 20px 40px;
        }
    }

}
















@media (max-width: 767px) {

    .header-container > .header-right{  
        display: none;
    }

    .content{
        padding: 0;
    }  

    .header-container{
        height: 78px;
    } 
    
    .header{
        border-top: 1px solid #e7e7e7;
        padding: 0 30px;
    }

    .about__title{
        margin-top: 75px;
        font-size: 26.35px;
        color: rgb(1, 0, 0);
        font-weight: bold;
        line-height: 1.111;
        text-align: center;
        padding: 0 30px;
    }

    .about__product{
        flex-direction: column;    
    }

    .about::after{
        display: none;
    }

    .about-header{
        display: none;
    }   

    .header__burger{
        right: 0px;
        display: block;
        position: absolute;
        width: 20px;
        height: 14px;
    }

    .header__burger:before, .header__burger:after{
        content:"";
        background-color: #221f1f;
        position: absolute;
        width: 100%;
        height: 2px;
        left:0;
    }

    .header__burger:before{
        top:0;
    }

    .header__burger:after{
        bottom: 0;
    }

    .header__burger span{
        position: absolute;
        width: 100%;
        height: 2px;
        left:0;
        background-color: #221f1f;
        top: 6px;
    }

    .about{
        background-position: top -18px center;
        background-image: url(img/hero-mobile.png);
        background-repeat: no-repeat;
        height: 489px;
    }

    .product__left-link, .product__right-link{
        align-items: center;
        height: 100px;
        flex: 1 1 auto;
    }

    .product__name{
        font-size: 19px;
        color: rgb(255, 255, 255);
        line-height: 1.263;
    }

    .header-text{
        font-size: 25px;
        line-height: 1.2;
    }

    .border-wave{
        display: none;
    }

    .product-week{
        .main-content{
            max-width: 260px;
            height: auto;
            margin: 0px auto;
        }
    }

    .content_title{
        font-size: 25px;
        line-height: 1.2;
    }

    .product-week{
        margin-top: 33px;
        }

    .product-week__header{
        margin-bottom: 30px;
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .product-week__name-block{
        padding: 8px 0px 0px 0px;
        flex-basis: auto;
        
    }

    .product-week__description{
        font-size: 15px;
        line-height: 1.6;
    }

    .product-week__specifications{
        margin-top: 35px;
        margin-bottom: 28px;
    }

    .product-week__photo{
        position: static;
        margin-bottom: 29px;
    }

    .advantages{
        margin-top: 33px;
        margin-bottom: 60px;

        .main-content{
            max-width: 260px;
            margin: 0 auto;
        }
    }

    .advantages__title{
        margin-bottom: 10px;
    }

    .advantages-item{
        flex: 1 1 260px;
        margin-bottom: 30px;

        .advantages-item__text{
            font-size: 17px;
            font-weight: bold;
            line-height: 1.176;
        }
    }

    .reviews{
        padding-top: 0px;
        background: none;

        .main-content{
            max-width: 260px;
            margin: 0 auto;
        }

        .reviews__title{
            margin-bottom: 35px;
        }

        .reviews__text{
            font-size: 15px;
            color: rgb(68, 68, 68);
            line-height: 2;
            margin-bottom: 40px;
        }

        .reviews__author-name{
            font-size: 17px;  
            color: rgb(0, 0, 0);
            font-weight: bold;
            line-height: 1.412;
        }

        .reviews__author-email{
            margin-top: 12px;
            font-size: 17px;
            color: #444444;
            margin-bottom: 35px;
        }

        .reviews__write-btn{
            position: static;
            width: 100%;

            .content_main-button{
                width: 100%;
            }
        }

        .reviews__swipe-btn{
            position: static;
            width: 100%;
            margin-bottom: 38px;

            button{
                border: 1px solid #ececec;
                width: 50%;
                background-color: #ffffff;
            }

            button + button{
                border-left: none;
            }
        }
    }



    .contacts{
        margin-top: 43px;
        margin-bottom: 39px;

        .main-content{
            max-width: 260px;
            margin: 0 auto;    
        }

        .contacts__header{
            display: block;
            margin-left: 0px;
            margin-bottom: 19px;
        }

        .contacts__icon{
            display: none;
        }

        .contacts__text{
            max-width: 256px;
            margin-bottom: 42px;
            font-size: 15px;
            line-height: 2;

            tr{
                display: table-row;
            }

            td{
                min-width: 73px;
                vertical-align: top;
            }
        }

        .contacts__map{
            position: static;
            margin: 0 -30px 39px -30px;
        }

        .content_main-button{
            padding: 20px 40px;
            width: 100%;
        }

        .contacts__btn{
            width: 100%;
        }
    }

    .footer{
        
        .footer__wrapper{
            min-width: 260px;
            min-height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__logo{
            display: none;
        }

         .footer__social-network{
            border-bottom: 1px solid #e5e5e5;
            min-width: 260px;
            justify-content: center;
        }

        .footer__social-network, .footer__copyright{
            flex: 1 1 50%;
            display: flex;
            align-items: center;
        }
    }
}
